  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

/* Navbar */

.navbar {
  padding:40px;
  color: #fff;
}

.nav-logo{
  max-width: 15%;
}

.nav-btn{  
  float: right;
  padding: 10px 35px;
  border: 2px solid #fff;
  border-radius: 100px;
  border-style: solid;
  color: var(--light-pink);
  background-color: hsl(207, 100%, 98%);
  font-size: 15px;
  border-color: var(--light-pink);
}
  /* Main Hero */

.main-hero{
  margin-top: 100px;;
}

.main-hero h1 {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 45px;
}

.main-hero p {
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 10px;
}

.main-btn{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
}
.main-btn button{
  padding: 18px 65px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  font-size: 15px;
}

.main-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}


/* Column One */
.column-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.column-one div {
margin: auto;
}
.column-block-one {
  padding-left: 110px;
}
.column-block-one h1 {
  font-size:75px;
}
.column-block-one p {
  font-size: 15px;
}
.column-block-two {
  padding-right: 110px;
}
.column-block-two h1 {
  font-size:75px;
}
.column-block-two p {
  font-size: 15px;
}

/* Column Two */
.column-two-block {
  background-color: #f6fbff;
}
.column-two svg {
  display: block;
}
.column-two-text {
  width: 50%;
  margin: auto;
} 
.column-two-img{
  margin: auto;
}

/* Column Three */
.column-three-text {
  width: 50%;
  margin: auto;
} 
.column-three-img{
  margin: auto;
}
/* Column Four */
.column-four svg {
  display: block;
}
.column-four-block {
  background-color: #f6fbff;
}
.column-four-text {
  width: 50%;
  margin: auto;
} 
.column-four-img{
  margin: auto;
}


/* Footer Styles */
footer{
    color: #ffffff;

}

footer::before{
    content: 'this is before footer';
    position:absolute;
    background-image: url('images/bg-footer-top-desktop.svg');
    width: 100%;
    height: 100%;
    background: inherit;
}
.footer-img img{
    max-width: 100%;
    height: auto;
} 
.grid-innersection{
    background-color: hsl(56, 70%, 52%);
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
}
.footercolumn1{
    padding: 20px;
}
.footercolumn2{
    padding: 20px;
    padding-left:150px;
}
.attribution {
  font-size: 11px; text-align: center; 
  background-color: hsl(192, 100%, 9%);
  
 }
 .attribution a {
      color: hsl(228, 45%, 44%); 
 }
 