@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@100&display=swap');

  /* Main Hero */

  .main-hero h1 {
    text-align: center;
    padding: 10px;
  }
  .main-hero p {
    text-align: center;
    padding: 10px;
    

  }

.img-container{
  min-width: 100%;
  padding: 200px;
  justify-content: center;
}

/* Footer Styles */
footer{
    color: #ffffff;

}
.footer-img{
    margin-top: 10px;
}
.footer-img img{
    max-width: 100%;
    height: auto;
} 
.grid-innersection{
    background-color: hsl(192, 100%, 9%);
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
   
}
.footercolumn1{
    padding: 20px;
}
.footercolumn2{
    padding: 20px;
    padding-left:150px;
}
.attribution {
  font-size: 11px; text-align: center; 
  background-color: hsl(192, 100%, 9%);
  
 }
 .attribution a {
      color: hsl(228, 45%, 44%); 
 }
 