  
.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
  }
  
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  