@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@100&display=swap');
body {
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;

}

p {
    font-family: 'Poppins', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Footer Styles */
footer{
    color: #ffffff;
}
.grid-innersection{
    background-color: hsl(192, 100%, 9%);
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
   
}
.footercolumn1{
    padding: 20px;
}
.footercolumn2{
    padding: 20px;
    padding-left:  250px;
}