@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  h1 h2 h3 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
  }
  
  p {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
  }
  
  img {
    width: 100%;
  }
  
  /* .container{
    width:100%;
    margin:auto;
    overflow:hidden;
  } */
  .container {
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
  }


.attribution {
 font-size: 11px; text-align: center; 
 background-color: hsl(192, 100%, 9%);
 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

/* Footer Styles */
footer{
    color: #ffffff;

}
.footer-img{
    margin-top: 10px;
}
.footer-img img{
    max-width: 100%;
    height: auto;
} 
.grid-innersection{
    background-color: hsl(192, 100%, 9%);
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
   
}
.footercolumn1{
    padding: 20px;
}
.footercolumn2{
    padding: 20px;
    padding-left:150px;
}